.font-exercise {
  font-family: tahoma;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 1rem;
}

.sales-ad {
  font-size: 2rem;
  font-family: arial;
  font-weight: bold;
  margin-bottom: 0;
}
.due-date {
  font-size: 1.5rem;
  font-family: arial;
  color: red;
  font-style: italic;
  margin-top: 4px;
}

.course-ad {
  font-family: verdana;
}
.course-title {
  font-weight: bold;
  font-size: large;
  margin-bottom: 0.3rem;
}
.course-description {
  color: grey;
  margin-top: 0;
}
.course-benifit {
  width: 18rem;
}
.get-started-button {
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 8px 14px;
}

.apple-ad,
.second-ad {
  text-align: center;
  font-family: Arial;
  font-weight: bolder;
  font-size: 2rem;
}
.link-to-site {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: arial;
}
.second-ad {
  font-size: 1.1rem;
  margin-bottom: 1.7rem;
}

.macbook-ad {
  font-family: arial;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
}
.purchase-button {
  border: none;
  border-radius: 20px;
  background-color: blue;
  color: white;
  padding: 8px 15px;
}

.tweet {
  font-family: Arial;
}
