.image {
  display: inline-block;
}
.first-image {
  width: 200px;
  border-radius: 10px;
  margin: 2rem;
}
.second-image {
  margin: 2rem;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}
.third-image {
  margin: 2rem;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
}

.first-searchbar {
  margin: 2rem;
  padding: 0.6rem;
  border: 1.5px grey solid;
  border-radius: 6px;
}

.google-searchbar {
  border: none;
  border-radius: 30px;
  padding: 12px 15px;
  width: 500px;
  font-size: 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin: 2rem;
}
